@import url("reset.css");

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
		url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Parkson';
	src: url('../fonts/Parkson.woff2') format('woff2'),
		url('../fonts/Parkson.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LegendeC';
	src: url('../fonts/LegendeC.woff2') format('woff2'),
		url('../fonts/LegendeC.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

body {
	background: url("..//img/background.webp") 0 0/150px 150px repeat;
	position: relative;
	z-index: 1;
}

.header-logo {
	position: absolute;
	left: 1100px;
	top: 16px;
	transform: rotate(-68deg);
}

.header-title {
	position: absolute;
	top: 64px;
	left: 1160px;
	font: 400 95px "LegendeC", sans-serif;
	color: white;
}

.header-block {
	margin-bottom: 30px;
}

.lesson_container {
	max-width: 1730px;
	padding: 40px 15px;
	margin: 0 auto 30px;
	background-color: #f3d8c0;
}

.transform_block {
	max-width: 1500px;
	margin: 0 auto;
}

.body_transform:not(:last-child) {
	margin-bottom: 80px;
}

.bonus_container {
	max-width: 1500px;
	margin: 0 auto;
	/* position: relative; */
}

.bonus-title_main {
	margin-bottom: 40px;
	font: 700 55px 'Bebas Neue', sans-serif;
	text-align: center;
}

.area_task {
	position: relative;
	background: url("../img/substrate.webp") 0 0/250px 250px no-repeat;
	width: 250px;
	height: 250px;
	top: 0;
	left: 0;
}

.body_transform {
	font-size: 0;
}

.title_box {
	font: 400 28px 'Parkson', sans-serif;
	text-align: center;
	padding-bottom: 20px;
}

.box_transform {
	display: inline-block;
}

h1 {
	font: 700 55px 'Bebas Neue', sans-serif;
	text-align: center;
	margin-bottom: 80px;
}

.task_box {
	font-size: 0;
}

.sub_block-lesson:not(:last-child) {
	margin-bottom: 140px;
}

.box_type-one:not(:last-child) {
	margin-right: 62px;
}

.box_type-three:not(:last-child) {
	margin-right: 166px;
}


.box_type-two:not(:last-child) {
	margin-left: 217px;
	margin-right: 565px;
}

.hexagonal_version-one {
	transform: rotate(90deg);
	z-index: 1;
}

.up-item,
.down-item {
	width: 112px;
	height: 33px;
	background: #78a5a3;
}

.up-item {
	position: absolute;
	top: -33px;
	left: -55px;
}

.down-item {
	position: absolute;
	top: 0px;
	left: -55px;
}

.up-item::before {
	content: '';
	position: absolute;
	top: -32px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 56px solid transparent;
	border-right: 56px solid transparent;
	border-bottom: 32px solid #78a5a3;
}

.down-item::after {
	content: '';
	position: absolute;
	top: 33px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 56px solid transparent;
	border-right: 56px solid transparent;
	border-top: 32px solid #78a5a3;
	z-index: 2;
}

.subtitle-up {
	position: absolute;
	top: 40px;
	left: -18px;
	z-index: 3;
}

.subtitle-down {
	position: absolute;
	top: -57px;
	left: -18px;
	z-index: 3;
}

.trapezoid-up {
	position: absolute;
	width: 132px;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-bottom: 57px solid #ce5a57;
	left: 50px;
	top: 70px;
}

.trapezoid-down {
	position: absolute;
	width: 132px;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-top: 57px solid #ce5a57;
	left: 50px;
	top: 127px;
}

.task__hexagonal-three {
	display: inline-block;
	position: absolute;
	left: 59px;
	top: 69px;
	z-index: 2;
}

.hexagonal-visibility-front {
	position: absolute;
	left: 60px;
	top: 69px;
}

.task_translete:hover {
	transform: translate(-105px, 105px);
}

.task_translete:hover .trapezoid-up {
	transform: translate(-15px, 0);
}

.task_translete:hover .trapezoid-down {
	transform: translate(15px, 0);
}

/* Scale (x, y) */

.subtitle-scale {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 89px;
	top: 102px;
	z-index: 3;
}

.task_scale:hover {
	transform: scale(0.5);
}

.task_scale:hover .hexagonal__up-item,
.task_scale:hover .hexagonal__down-item,
.task_scale:hover .subtitle-scale {
	transform: scale(3.6, 4.5);
}

/* Rotate (n+deg) */

.subtitle-rotate {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 82px;
	top: 102px;
	z-index: 3;
}

.task_box-rotate:hover .rotate_fon-item {
	transform: rotate(180deg);
}

.task_box-rotate:hover .subtitle-rotate {
	transform: rotate(-360deg);
}

.task_box-rotate:hover .hexagonal-rotate {
	transform: rotate(360deg);
}

/* Skew (x+deg, y+deg) */

.subtitle-skew {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 91px;
	top: 101px;
	line-height: 1;
	z-index: 3;
}

.task_skew:hover {
	transform: rotate(180deg);
}

.task_box-skew:hover .skew_fon-item {
	transform: skew(20deg);
}

.task_box-skew:hover .subtitle-skew {
	transform: skew(-20deg);
}

.task_box-skew:hover .hexagonal-skew {
	transform: skew(12deg);
}

/* Matrix (a,b,c,d,x,y) */

.subtitle-matrix {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 80px;
	top: 101px;
	line-height: 1;
	z-index: 3;
}

.task_box-matrix:hover {
	transform: translate(50px, 50px) scale(0.5) rotate(45deg);
}

.task_box-matrix:hover .hexagonal-matrix {
	transform: rotate(-45deg);
}

.task_box-matrix:hover .subtitle-matrix {
	transform: rotate(-45deg);
}

/* Transform-origin */

.subtitle-origin {
	font: 700 28px 'Parkson', sans-serif;
	position: absolute;
	left: 84px;
	top: 102px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.task_box-origin:hover {
	transform-origin: 100% 100%;
	transform: rotate(90deg);
}

.task_box-origin:hover .subtitle-origin {
	transform: rotate(-90deg);
}

.task_box-origin:hover .hexagonal-origin {
	transform: rotate(270deg);
	transform: translate(0, 5px);
}

/* Perspective, Perspective-origin */

.subtitle-perspective {
	font: 700 19px 'Parkson', sans-serif;
	position: absolute;
	left: 0;
	top: 100px;
	width: 250px;
	height: 250px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.container-perspective {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 250px;
	perspective: 300px;
	transform-style: preserve-3d;
}

.task_box-perspective:hover {
	transform: rotateX(50deg);
}

/* Translate3D (0px, 0px, 0px) */

.subtitle-translate3d {
	font: 700 33px 'Parkson', sans-serif;
	width: 250px;
	height: 250px;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 0;
	top: 98px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.task_box-translete3d {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 250px;
	background: url("../img/hexagonal_two.webp") 60px 69px/132px 112px no-repeat, url("../img/translade3d.webp") 0 0/100% no-repeat;
}

.task_box-translete3d:hover {
	transform: translate3d(55px, 55px, 55px);
}

/* Scale3D (0, 0, 0) */

.subtitle-scale3d {
	font: 700 33px 'Parkson', sans-serif;
	width: 250px;
	height: 250px;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 0;
	top: 98px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.task_box-scale3d {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 250px;
	background: url("../img/hexagonal.webp") 60px 69px/132px 112px no-repeat, url("../img/scale3d.webp") 0 0/100% no-repeat;
}

.task_box-scale3d:hover {
	transform: scale3d(1.15, 1.15, 1.15);
}

/* Rotate3D (0, 0, 0, 0deg) */

.subtitle-rotate3d {
	font: 700 33px 'Parkson', sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 0;
	top: 98px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.task_box-rotate3d {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 250px;
	background: url("../img/hexagonal_two.webp") 60px 69px/132px 112px no-repeat, url("../img/rotate3d.webp") 0 0/100% no-repeat;
}

.task_box-rotate3d:hover {
	transform: rotate3D(3, 3, 3, 60deg);
}

/* Matrix3D */

.subtitle-matrix3d {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	left: 0;
	top: 98px;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.task_box-matrix3d {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 250px;
	background: url("../img/hexagonal_two.webp") 60px 69px/132px 112px no-repeat, url("../img/matrix3d.webp") 0 0/100% no-repeat;
}

.task_box-matrix3d:hover {
	transform: translate3d(-209px, -209px, 100px) rotate3d(0.5, 0.5, 0.5, -60deg);
}

/* Transform-style */

.subtitle-style {
	position: absolute;
	left: 0;
	top: 98px;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 0.9;
	text-align: center;
	font: 700 33px 'Parkson', sans-serif;
}

.container-style {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 250px;
	perspective: 300px;
	transform-style: preserve-3d;
}

.task_box-style {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/hexagonal.webp") 60px 69px/132px 112px no-repeat, url("../img/style.webp") 0 0/100% no-repeat;
}

.task_box-style:hover {
	transform: rotateX(60deg);
}

/* Backface-visibility */

.task-visibility {
	position: relative;
	left: 0;
	top: 0;
	width: 250px;
	height: 250px;
	transform-style: preserve-3d;
}

.task_box-visibility {
	perspective: 400px;
	transform-style: preserve-3d;
}

.task__subtitle-visibility {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.span-visibility_font {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 95px;
	left: 0;
	text-align: center;
	font: 700 33px 'Parkson', sans-serif;
}

.span-visibility_back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 110px;
	left: 0;
	text-align: center;
	font: 700 33px 'Parkson', sans-serif;
}

.subtitle-visibility-front {
	z-index: 2;
	background: url("../img/hexagonal.webp") 60px 69px/132px 112px no-repeat, url("../img/visibility_front.webp") 0 0/100% no-repeat;
	backface-visibility: hidden;
	transform: rotateY(0deg);
}

.subtitle-visibility-back {
	background: url("../img/hexagonal_two.webp") 60px 69px/132px 112px no-repeat, url("../img/visibility_back.webp") 0 0/100% no-repeat;
	transform: rotateY(180deg);
}

.task_box-visibility:hover .task-visibility {
	transform: rotateY(180deg);
}

.task-visibility,
.hexagonal-style,
.subtitle-style,
.style_fon-item,
.task_box-style,
.task_box-matrix3d,
.task_box-rotate3d,
.task_box-scale3d,
.task_box-translete3d,
.task_box-perspective,
.task_box-origin,
.task_box-matrix,
.subtitle-matrix,
.hexagonal-matrix,
.skew_fon-item,
.subtitle-skew,
.hexagonal-skew,
.perspective_fon-item,
.subtitle-perspective,
.hexagonal-perspective,
.task_box,
.task_box-rotate,
.hexagonal_version-two,
.trapezoid-up,
.trapezoid-down,
.hexagonal_version-one,
.up-item,
.down-item,
.subtitle-scale,
.rotate_fon-item,
.subtitle-rotate,
.hexagonal-rotate,
.subtitle-origin,
.hexagonal-origin {
	transition: all 2s ease 0.1ms;
}

.fon-background {
	display: inline-block;
	position: relative;
	top: 0;
	left: 500px;
}

.bonus-lesson {
	position: relative;
}

.practic_block {
	position: absolute;
	top: 22px;
	left: 280px;
	width: 440px;
	height: 600px;
	border: 20px solid rgba(255, 255, 255, 0.2);
	transform-style: preserve-3d;
	perspective: 200px;
	perspective-origin: center;
}

.img-action:hover {
	transform: scale(1.3);
}

.home_section {
	z-index: 2;
	transform: rotateX(0deg);
}

.about_section {
	transform: rotateX(-180deg);
}

.practic_block:target {
	transform: rotateX(180deg);
}

.home_section,
.about_section {
	background: rgba(40, 64, 96, 0.22);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.img-action {
	position: absolute;
	top: 22px;
	left: 25px;
}

.block-text {
	padding: 100px 15px 0 15px;
	text-align: justify;
}

.title-main:not(:last-child) {
	margin-bottom: 60px;
}

.text-block:not(:last-child) {
	margin-bottom: 15px;
}

.title-main {
	font: 700 20px "Open Sans", sans-serif;
	color: azure;
}

.text-block {
	font: 500 13px "Playfair", sans-serif;
	color: aliceblue;
}

.text-block_frame {
	font-size: 13px;
	color: rgb(253, 161, 161);
	text-align: center;
}

.home_section,
.practic_block,
.about_section,
.bonus-lesson,
.img-action {
	transition: all 1s ease 0s;
}

.footer_block {
	background: url("../img/footer.webp") 0 0/cover no-repeat;
	padding: 40px 0 40px 0;
}

.header-block {
	background: url("../img/header.webp") 0 0/cover no-repeat;
	padding: 130px 0 130px 0;
}

.header-logo {
	padding: 30px 0 30px 0;
}