@import url("reset.css");

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
		url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Parkson';
	src: url('../fonts/Parkson.woff2') format('woff2'),
		url('../fonts/Parkson.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LegendeC';
	src: url('../fonts/LegendeC.woff2') format('woff2'),
		url('../fonts/LegendeC.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

body {
	position: relative;
	z-index: 1;
}

.area_task {
	position: relative;
	background: url("../img/substrate.webp") 0 0/250px 250px no-repeat;
	width: 250px;
	height: 250px;
	top: 0;
	left: 0;
}

.body_transform {
	font-size: 0;
}

.box_type-two {
	margin: 50px;
}

.subtitle-visibility-front {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(9, 15, 124);
	left: 82px;
	top: 96px;
	line-height: 1;
	text-align: center;
}

.subtitle-visibility-back {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(148, 13, 13);
	left: 82px;
	top: 96px;
	line-height: 1;
	text-align: center;
}

.subtitle-visibility-front {
	z-index: 2;
	background-color: #77608d;
	transform: rotateY(0deg);
	backface-visibility: hidden;
}

.subtitle-visibility-back:hover {
	transform: rotateY(-180deg);
	background-color: rgba(121, 79, 69, 0.5);
}

.task-visibility:hover {
	transform: rotateY(-180deg);
}

.task-visibility,
.task-visibility-back,
.task-visibility-front,
.task_box-visibility {
	transition: all 2s ease 0.1ms;
}