@import url("reset.css");

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
		url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Parkson';
	src: url('../fonts/Parkson.woff2') format('woff2'),
		url('../fonts/Parkson.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LegendeC';
	src: url('../fonts/LegendeC.woff2') format('woff2'),
		url('../fonts/LegendeC.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

body {
	background: url("..//img/background.webp") 0 0/150px 150px repeat;
	position: relative;
	z-index: 1;
}

.header-logo {
	position: absolute;
	left: 1100px;
	top: 16px;
	transform: rotate(-68deg);
}

.header-title {
	position: absolute;
	top: 64px;
	left: 1160px;
	font: 400 95px "LegendeC", sans-serif;
	color: white;
}

.header-block {
	margin-bottom: 30px;
}

.lesson_container {
	max-width: 1730px;
	padding: 40px 15px;
	margin: 0 auto 30px;
	background-color: #f3d8c0;
}

.transform_block {
	max-width: 1500px;
	margin: 0 auto;
}

.area_task {
	position: relative;
	background: url("../img/substrate.webp") 0 0/250px 250px no-repeat;
	width: 250px;
	height: 250px;
	top: 0;
	left: 0;
}

.body_transform {
	font-size: 0;
}

.title_box {
	font: 400 28px 'Parkson', sans-serif;
	text-align: center;
	padding-bottom: 20px;
}

.box_transform {
	display: inline-block;
}

h1 {
	font: 700 55px 'Bebas Neue', sans-serif;
	text-align: center;
	margin-bottom: 80px;
}

.task_box {
	font-size: 0;
}

.sub_block-lesson:not(:last-child) {
	margin-bottom: 140px;
}

.box_type-one:not(:last-child) {
	margin-right: 62px;
}

.box_type-three:not(:last-child) {
	margin-right: 166px;
}


.box_type-two:not(:last-child) {
	margin-left: 217px;
	margin-right: 565px;
}

.hexagonal_version-one {
	transform: rotate(90deg);
	z-index: 1;
}

.up-item,
.down-item {
	width: 112px;
	height: 33px;
	background: #78a5a3;
}

.up-item {
	position: absolute;
	top: -33px;
	left: -55px;
}

.down-item {
	position: absolute;
	top: 0px;
	left: -55px;
}

.up-item::before {
	content: '';
	position: absolute;
	top: -32px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 56px solid transparent;
	border-right: 56px solid transparent;
	border-bottom: 32px solid #78a5a3;
}

.down-item::after {
	content: '';
	position: absolute;
	top: 33px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 56px solid transparent;
	border-right: 56px solid transparent;
	border-top: 32px solid #78a5a3;
	z-index: 2;
}

.subtitle-scale {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 89px;
	top: 102px;
	z-index: 3;
}

.subtitle-rotate {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 82px;
	top: 102px;
	z-index: 3;
}

.subtitle-up {
	position: absolute;
	top: 40px;
	left: -18px;
	z-index: 3;
}

.subtitle-down {
	position: absolute;
	top: -57px;
	left: -18px;
	z-index: 3;
}

.trapezoid-up {
	position: absolute;
	width: 132px;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-bottom: 57px solid #ce5a57;
	left: 50px;
	top: 70px;
}

.trapezoid-down {
	position: absolute;
	width: 132px;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-top: 57px solid #ce5a57;
	left: 50px;
	top: 127px;
}

.task__hexagonal-three {
	display: inline-block;
	position: absolute;
	left: 59px;
	top: 69px;
	z-index: 2;
}

.hexagonal-visibility-front {
	position: absolute;
	left: 60px;
	top: 69px;
}

.subtitle-skew {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 91px;
	top: 101px;
	line-height: 1;
	z-index: 3;
}

.subtitle-matrix {
	font: 700 48px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 80px;
	top: 101px;
	line-height: 1;
	z-index: 3;
}

.subtitle-origin {
	font: 700 28px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 84px;
	top: 102px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.subtitle-perspective {
	font: 700 19px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 74px;
	top: 98px;
	line-height: 1.4;
	text-align: center;
	z-index: 3;
}

.subtitle-translate3d {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 79px;
	top: 99px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.subtitle-scale3d {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 100px;
	top: 95px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.subtitle-rotate3d {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 96px;
	top: 95px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.subtitle-matrix3d {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 94px;
	top: 96px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.subtitle-style {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	left: 74px;
	top: 100px;
	line-height: 1;
	text-align: center;
	z-index: 3;
}

.subtitle-visibility-front {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: #ffffff;
	left: 84px;
	top: 96px;
	line-height: 1;
}

.subtitle-visibility-back {
	font: 700 33px 'Parkson', sans-serif;
	position: absolute;
	text-transform: uppercase;
	color: #ffffff;
	left: 104px;
	top: 108px;
	line-height: 1;
	text-align: center;
}

.task_translete:hover {
	transform: translate(-105px, 105px);
}

.task_translete:hover .trapezoid-up {
	transform: translate(-15px, 0);
}

.task_translete:hover .trapezoid-down {
	transform: translate(15px, 0);
}

.task_scale:hover {
	transform: scale(0.5);
}

.task_scale:hover .hexagonal__up-item,
.task_scale:hover .hexagonal__down-item,
.task_scale:hover .subtitle-scale {
	transform: scale(3.6, 4.5);
}

.task_box-rotate:hover .rotate_fon-item {
	transform: rotate(180deg);
}

.task_box-rotate:hover .subtitle-rotate {
	transform: rotate(-360deg);
}

.task_box-rotate:hover .hexagonal-rotate {
	transform: rotate(360deg);
}

.task_skew:hover {
	transform: rotate(180deg);
}

.task_box-skew:hover .skew_fon-item {
	transform: skew(20deg);
}

.task_box-skew:hover .subtitle-skew {
	transform: skew(-20deg);
}

.task_box-skew:hover .hexagonal-skew {
	transform: skew(12deg);
}

.task_box-matrix:hover {
	transform: translate(50px, 50px) scale(0.5) rotate(45deg);
}

.task_box-matrix:hover .hexagonal-matrix {
	transform: rotate(-45deg);
}

.task_box-matrix:hover .subtitle-matrix {
	transform: rotate(-45deg);
}

.task_box-origin:hover {
	transform-origin: 100% 100%;
	transform: rotate(90deg);
}

.task_box-origin:hover .subtitle-origin {
	transform: rotate(-90deg);
}

.task_box-origin:hover .hexagonal-origin {
	transform: rotate(270deg);
	transform: translate(0, 5px);
}

.task_box-perspective {
	perspective-origin: center;
	perspective: 400px;
}

.task_box-perspective:hover .perspective_fon-item,
.task_box-perspective:hover .subtitle-perspective,
.task_box-perspective:hover .hexagonal-perspective {
	transform: rotateX(50deg);
}

.task_box-translete3d:hover .translate3d_fon-item {
	transform: translate3d(55px, 55px, 55px);
}

.task_box-translete3d:hover .subtitle-translate3d {
	transform: translate3d(55px, 55px, 55px);
}

.task_box-translete3d:hover .hexagonal-translete3d {
	transform: translate3d(55px, 55px, 55px);
}

.task_box-scale3d:hover {
	transform: scale3d(1.15, 1.15, 1.15);
}

.task_box-rotate3d:hover {
	transform: rotate3D(3, 3, 3, 60deg);
}

.task_box-matrix3d:hover {
	transform: translate3d(-209px, -209px, 100px) rotate3d(0.5, 0.5, 0.5, -60deg);
}

.task_box-style {
	perspective: 400px;
	transform-style: flat;
}

.task_box-style:hover .style_fon-item,
.task_box-style:hover .subtitle-style,
.task_box-style:hover .hexagonal-style {
	transform: rotateX(50deg);
}


.visibility_fon-item-front {
	transform: rotateY(0deg);
	backface-visibility: hidden;
}

.hexagonal-visibility-front {
	z-index: 3;
	transform: rotateY(0deg);
	backface-visibility: hidden;
}

.subtitle-visibility-front {
	z-index: 4;
	transform: rotateY(0deg);
	backface-visibility: hidden;
}

.visibility_fon-item-back {
	transform: rotateY(-180deg);
}

.hexagonal-visibility-back {
	z-index: 2;
	transform: rotateY(-180deg);
}

.subtitle-visibility-back {
	z-index: 3;
	transform: rotateY(-180deg);
}

.task-visibility:hover {
	transform: rotateY(-180deg);
}

.visibility_fon-item-back {
	position: absolute;
	top: 0;
	left: 0;
}

.task-visibility,
.task-visibility-back,
.task-visibility-front,
.task_box-visibility,
.hexagonal-style,
.subtitle-style,
.style_fon-item,
.task_box-style,
.task_box-matrix3d,
.task_box-rotate3d,
.task_box-scale3d,
.hexagonal-translete3d,
.subtitle-translate3d,
.translate3d_fon-item,
.hexagonal-translete3d,
.task_box-translete3d,
.task_box-perspective,
.box_task-perspective,
.perspective_fon-item,
.subtitle-perspective,
.hexagonal-perspective,
.task_box-origin,
.task_box,
.task_box-rotate,
.skew_fon-item,
.task_box-matrix,
.hexagonal_version-two,
.trapezoid-up,
.trapezoid-down,
.hexagonal_version-one,
.up-item,
.down-item,
.subtitle-scale,
.rotate_fon-item,
.rotate_fon-item,
.subtitle-rotate,
.hexagonal-rotate,
.subtitle-skew,
.hexagonal-skew,
.subtitle-matrix,
.hexagonal-matrix,
.subtitle-origin,
.hexagonal-origin {
	transition: all 2s ease 0.1ms;
}