@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@300;500;700&display=swap');


body {
	margin: 40px auto;
	max-width: 1240px;
	font: 300 14px Poppins, sans-serif;
	color: #6C757D;
	text-align: justify;
	line-height: 1.79;
}

.mn-bzc {
	max-width: 816px;
	margin: 0 auto 80px;
}

.mctn-mn-zgl-vn {
	max-width: 400px;
}

.mctn-mn-zgl-tw {
	max-width: 605px;
}

.mn-bzc h2 {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
}

.mn-bzc-osn>p {
	margin-bottom: 40px;
}

.mn-bzc-osn .mn-bzc-otd-vn p {
	margin-bottom: 0;
}

.mcnt-img-vn,
.mcnt-img-tw {
	font-size: 0;
	max-width: 100%;
	margin-bottom: 80px;
}

.mcnt-img-tw .mcnt-img-tw-vn {
	margin-right: 30px;
}

.mn-bzc-otd-tw {
	max-width: 816px;
	margin: 0 auto 60px;
}

.mn-txt-dop {
	margin-bottom: 40px;
}

.mn-txt-dop .mctn-dop-abz {
	text-align: center;
	max-width: 100%;
}

.mctn-dop-frt {
	vertical-align: middle;
}

.mn-txt-dop .mctn-mn-zgl-tr {
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 500;
	background-color: rgb(160, 167, 164);
	margin-bottom: 40px;
}


.mn-bzc.inrl {
	height: 150px;
	padding: 0 35px;
	overflow: scroll;
}

.mn-bzc.inln br {
	display: none;
}

.llst {
	font-size: 0;
	text-align: center;
}

.bzc.llst {
	color: rgb(234, 61, 3);
	font-size: 16px;
	display: inline-block;
	background-color: rgb(160, 167, 164);
	padding: 5px
}